<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% block head %}
    {% endblock %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #1f1f1f;
        }
        {% block style %}
        {% endblock %}
    </style>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script>
        remynd = {};
        remynd.post = function(obj) {
            window.webkit.messageHandlers.remynd.postMessage(obj);
        }
        remynd.log = function(...args) {
            remynd.post({ log: args });
        };
        console = console || {};
        console.log = remynd.log;
        {% block script %}
        {% endblock %}
    </script>
  </body>
</html>
